* {
  box-sizing: border-box;
}

.wapper {
  
}

.header {
  background-color: #4e7f92;
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 30px;
  .left-header {
    color: #FFF;
    font-family: cursive;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    .title {      
    }
  }
  .right-header {
    display: flex;
    justify-content: center;
    align-items: center;
    .register {
      .user-btn {
        color: #FFF;
        text-decoration: none;
        padding: 0.5em 1em;
        margin: 2em 0;
        color: #5d627b;
        background: white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
        
      }
    }
    .login {
      margin-left: 5px;
      .login-btn {      
        color: #FFF;
        text-decoration: none;
        padding: 0.5em 1em;
        margin: 2em 0;
        color: #5d627b;
        background: white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
      }
    }
  }
}
.top-image {
  height: 500px;
  width: 100%;
  background-image: url(PCimage.jpg);
  background-size: contain;
  background-position:center bottom;
  background-size: cover;
  .top-text {
    font-family: cursive;
    font-size: 50px;
    padding: 80px 0 0 80px;
  }
  .top-text-2 {
    padding-left: 100px;
  }
}
.form {
  text-align: center;
  background-color: #4e7f92;
  .seach-text {
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #1d0808;
    border-radius: 5px;
  }
  .seach-btn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #464c4d;
    background: #ECECEC;
    transition: .4s;
    padding: 8px;
    cursor: pointer;
  }
}
.content-main {
  background-color: #f6f6f4;
  display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  .content-box {
    height: 80vh;   
    width: 40vw;
    overflow: scroll;
    background-color: white;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;
    background: #FFF;
    border: solid 3px #2b4f7e;
    border-radius: 10px;/*角の丸み*/
    .content-post {
      margin-bottom: 5px;
      border-bottom: double 5px #030303;
      .post-text {
        text-decoration: none;
        .post-title {
          color: #1d0808;
          font-size: 30px;     
        }
        .name-date-box {
          display: flex;
          color: #d0d6d8;
          font-size: 15px;
          padding: 5px;
          .name-box {
            margin-right: 8px;
            .post.name {          
            }
          }
          .date-box {        
            .post.date {        
            }
          }
        }
      }
    }
  }
}