.content-main-2 {
  background-color: #f6f6f4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .content-box-2 {
    height: 60vh;   
    width: 40vw;
    overflow: scroll;
    background-color: white;
    padding: 0.5em 1em;
    font-weight: bold;
    color: #6091d3;
    background: #FFF;
    border: solid 3px #2b4f7e;
    border-radius: 10px;/*角の丸み*/
    .content-post-2 {
      margin-bottom: 5px;
      border-bottom: double 5px #030303;
      .content-title-icon-2 {
        display: flex;
        justify-content: space-between;
        .post-text-2 {
          display: flex;
          justify-content: space-between;
          text-decoration: none;
          display: inline-block;
          color: #1d0808;
          font-size: 30px;  
        }
        .icon-btn-2 {
          text-decoration: none;
          font-size: 15px;
          color: #d0d6d8;
          display: block;
          float: right;
          ul.icon-text-2 {
            .icon-text-2-2 {
              text-decoration: none;
              color: #d0d6d8;
            }
          }
        }
      }
      .name-date-box-2 {
        display: flex;
        color: #d0d6d8;
        font-size: 15px;
        padding: 5px;
        .post-name-2 {   
          margin-right: 8px;
        }
        .post-date-2 {
        }
      }
    }
    .show-text-box {
      color: black;
      font-size: 25px;
      word-break: break-all;
    }
  }
}