-# .header
-#   .left-header
-#     .title
-#     ShareS pace
-#   .right-header
-#     .register
-#       = link_to "#", class: "user-btn" do
-#         ユーザー登録
-#     .login
-#       = link_to "#", class: "login-btn" do
-#         ログイン
-# .top-image
-#   .top-text
-#     Welcome to ShareSpace
-#   .top-text-2
-#     エンジニアリングに関する知識を投稿してアウトプットしよう